name: Manual Build
on:
  workflow_dispatch:
    inputs:
      branch:
        description: branch to deploy
        required: true
      os:
        type: choice
        description: OS to build on. Ubuntu is faster, MacOS supports iOS builds
        options:
          - macos-latest
          - ubuntu-latest
      platform:
        type: choice
        description: Platform to build for
        options:
          - android
          - ios
      profile:
        type: choice
        description: Build profile to use
        options:
          - development
          - preview
          - production

env:
  fileName: ${{ github.run_id }} # Use the run ID as the default fileName

jobs:
  build:
    runs-on: ${{ github.event.inputs.os }}
    strategy:
      matrix:
        node: [16.x]
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.inputs.branch }}

    - name: Sample
      run: mkdir build && echo "aaa" > build/${{ env.fileName }}.apk

    - name: Upload to S3
      uses: shallwefootball/s3-upload-action@master
      id: S3
      with:
        aws_key_id: ${{ secrets.AWS_KEY_ID }}
        aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
        aws_bucket: ${{ secrets.AWS_BUCKET }}
        endpoint: ${{ secrets.AWS_ENDPOINT }}
        source_dir: 'build'
        destination_dir: 'mobile-builds'

    - name: Send Discord notification
      uses: stegzilla/discord-notify@v2
      with:
        webhook_url: ${{ secrets.DISCORD_WEBHOOK }}
        title: New mobile app version
        message: "**Creator:** ${{ github.event.pull_request.user.login }}\n${{ secrets.AWS_BUCKET }}.${{ secrets.AWS_ENDPOINT }}/mobile-builds/${{ env.fileName }}.apk"
        include_image: true
        avatar_url: https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png
        username: Mobile Deployment