name: Manual Build
on:
  workflow_dispatch:
    inputs:
      branch:
        description: branch to deploy
        required: true
      os:
        type: choice
        description: OS to build on. Ubuntu is faster, MacOS supports iOS builds
        options:
          - macos-latest
          - ubuntu-latest
      platform:
        type: choice
        description: Platform to build for
        options:
          - android
          - ios
      profile:
        type: choice
        description: Build profile to use
        options:
          - development
          - preview
          - production
jobs:
  build:
    runs-on: ${{ github.event.inputs.os }}
    strategy:
      matrix:
        node: [16.x]
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.inputs.branch }}
    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node }}
        cache: yarn

    - name: Setup Expo and EAS
      uses: expo/expo-github-action@v8
      with:
        eas-cache: true
        token: ${{ secrets.EXPO_TOKEN }}
        expo-version: latest
        eas-version: latest

    - name: Setup EAS local builds
      run: yarn global add eas-cli-local-build-plugin

    - name: Install dependencies
      run: yarn

    - name: Build APK
      if: ${{github.event.inputs.platform == 'android'}}
      run: |
        current_time=$(date "+%Y.%m.%d-%H.%M.%S")
        eas build --local \
          --non-interactive \
          --output=./build/$current_time.apk \
          --platform=${{ github.event.inputs.platform }} \
          --profile=${{ github.event.inputs.profile }}

    - name: Upload to S3
      id: S3
      uses: shallwefootball/s3-upload-action@master
      with:
        aws_key_id: ${{ secrets.AWS_KEY_ID }}
        aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
        aws_bucket: ${{ secrets.AWS_BUCKET }}
        endpoint: ${{ secrets.AWS_ENDPOINT }}
        source_dir: 'build'
    - name: Discord notification
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      uses: Ilshidur/action-discord@master
      with:
        args: 'Download versi terbaru di {{steps.S3.outputs.object_locations	}}'